.data-upload-container {
    position: fixed; /* Sticks to the top-left corner */
    top: 90px;       /* Offset from the top */
    left: 20px;      /* Offset from the left */
    width: 33%;      /* 1/3 of the screen width */
    padding: 20px;   /* Padding inside the widget */
    background-color: #a8a6a6; /* Light gray background */
    border-radius: 8px;  /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: Add a slight shadow */
    z-index: 100;    /* Ensures it sits above other content */
}

.status-message {
    margin-top: 10px;
    color: red;  /* Use red for error messages */
}

.upload-button {
    margin-top: 10px;
    background-color: #e31a1a; /* Red for logout */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #b32424; /* Darker red on hover */
    cursor: not-allowed;
}

.log-terminal {
    background-color: #00ab83;
    color: rgb(20, 4, 11);
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: monospace;
    white-space: nowrap;
}
