.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-colour);
    color: var(--text-colour);
    width: 100%;  /* Make the navbar fill the width of the page */
    position: fixed;  /* Pin the navbar to the top */
    top: 0;  /* Align at the top of the page */
    left: 0;
    z-index: 1000;  /* Ensure it stays on top of other elements */
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list li {
    display: inline;
}

.nav-list a {
    color: var(--tertiary-colour); /* Accent color for links */
    text-decoration: none;
    font-size: 1.2em; 
}

.nav-list a:hover {
    text-decoration: underline;
}

.nav-list a.active-link {
    font-weight: bold;
    color: var(--accent-colour) !important;  /* Highlight color */
}

.logout-button {
    background-color: var(--accent-colour); /* Red for logout */
    color: var(--text-colour);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.logout-button:hover {
    background-color: var(--accent-colour-dark); /* Darker red on hover */
}
