.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1B1B1B; /* Main background color */
    color: #E0E0E0; /* Text color */
    width: 100%;  /* Make the navbar fill the width of the page */
    position: fixed;  /* Pin the navbar to the top */
    top: 0;  /* Align at the top of the page */
    left: 0;
    z-index: 1000;  /* Ensure it stays on top of other elements */
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list li {
    display: inline;
}

.nav-list a {
    color: #E0CA3C; /* Accent color for links */
    text-decoration: none;
    font-size: 1.2em; 
}

.nav-list a:hover {
    text-decoration: underline;
}

.logout-button {
    background-color: #e31a1a; /* Red for logout */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.logout-button:hover {
    background-color: #b32424; /* Darker red on hover */
}

.nav-list a.active-link {
    font-weight: bold;
    color: #e210d8 !important;  /* Highlight color */
}