/* Style for the cards container */
.cards-container {
    margin-left: 350px;
    margin-top: 20px;
    height: calc(100vh - 150px); /* Fill the remaining height */
    overflow-y: scroll;
    padding: 25px;
    transition: margin-left 0.5s ease-in-out; /* Smooth resizing */
}

/* Expand when FilterPredictions is hidden */
.cards-container.expand-filter {
    margin-left: 340px; /* Keep space for the treatment sidebar */
}

/* Expand when TreatmentSidebar is hidden */
.cards-container.expand-treatment {
    margin-left: 340px; /* Shrink the left margin */
}

/* Expand when both FilterPredictions and TreatmentSidebar are hidden */
.cards-container.expand-filter.expand-treatment {
    margin-left: 20px; /* Shrink the left margin */
}
