.prediction-card {
    background-color: #18abd0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    width: 95%;
    max-height: 120px; /* Collapsed height */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; /* Smooth height transition */
}
.prediction-card.expanded {
    max-height: 500px;  /* Adjust based on how much content the expanded card will have */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cow-info h3 {
    margin: 0;
    color: #333;
    font-size: 1.5em; /* Larger font for prominence */
}

.cow-info p {
    margin: 0;
    color: #555;
}

.expand-button {
    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.expand-button:hover {
    background-color: #14274A;
}

.predicted-value {
    font-weight: bold;
    font-size: 1.2em;
    color: #1a73e8;
    margin-top: 10px;
}

/* Expanded content section */
.expanded-content {
    margin-top: 20px;
    opacity: 0;
    max-height: 0; /* Hide content initially */
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.prediction-card.expanded .expanded-content {
    opacity: 1;
    max-height: 300px; /* Adjust height to show content */
}

.expanded-content img {
    width: 100%;
    height: auto;
    max-height: 300px;  /* Limit the height of the placeholder graph */
    border-radius: 5px;
}
