.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    background-color: var(--primary-colour);
}
  
.register-form-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.register-form-button {
    width: 40%;
    padding: 15px;
    margin: 20px 0;
    background-color: var(--accent-colour);
    color: var(--text-colour);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }
  
.register-form-button:hover {
    background-color: var(--accent-colour-dark);
}

.error-message {
  color: var(--error-colour);
  background-color: var(--tertiary-colour);
  padding: 6px;
  border-radius: 4px;
  font-size: 18px;
  margin: 0px 0px ;
}

.password-strength {
  margin-top: -15px;
}

.password-strength p {
  font-size: 18px;
}

.strength-bar {
  width: 100%;
  height: 10px;
  background-color: var(--tertiary-colour);
  border-radius: 5px;
  margin-top: -10px;
}

.strength-bar-fill {
  height: 100%;
  border-radius: 5px;
}

.strength-0 .strength-bar-fill {
  background-color: #f44336; /* Very Weak */
}

.strength-1 .strength-bar-fill {
  background-color: #f44336; /* Weak */
}

.strength-2 .strength-bar-fill {
  background-color: #ffc107; /* Fair */
}

.strength-3 .strength-bar-fill {
  background-color: #4caf50; /* Good */
}

.strength-4 .strength-bar-fill {
  background-color: #4caf50; /* Strong */
}

.login-link {
  color: var(--tertiary-colour); /* Use the accent color for link */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.login-link:hover {
  color: var(--tertiary-colour-dark); /* Darker accent color on hover */
}