.treatment-sidebar {
    position: fixed;
    top: 75px;
    left: 0;
    background-color: var(--tertiary-colour);
    width: 300px;
    height: 85vh;
    overflow-y: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    padding: 20px 20px 20px 45px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.treatment-sidebar.hide {
    transform: translateX(-100%);
    pointer-events: none; /* Prevents the hidden sidebar from blocking clicks */
}

.sidebar-header {
    position: sticky;
    top: -20px;
    background-color: var(--tertiary-colour);
    z-index: 1002;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.treatment-sidebar .collapse-button {
    position: sticky;
    top: -10px;
    z-index: 1001;
    background-color: var(--accent-colour);
    color: var(--text-colour);
    border: none;
    border-radius: 6px;
    padding: 10px 80px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar-header h2 {
    position: sticky;
    top: 40px; 
    z-index: 1001;
    background-color: var(--tertiary-colour);
    margin: 0;
    font-size: 28px;
    padding-bottom: 5px;
}

.treatment-group h3 {
    position: sticky;
    top: 70px;
    z-index: 1001;
    font-size: 22px; 
    margin: 10px 0;
    padding-bottom: 5px;
    color: var(--text-colour);
    background-color: var(--tertiary-colour);
}

.treatment-sidebar .collapse-button:hover {
    background-color: var(--accent-colour-dark);
}

/* Tab for bringing back the sidebar */
.treatment-tab {
    position: fixed;
    top: 80px;
    left: 0;
    background-color: var(--accent-colour);
    color: var(--text-colour);
    width: 40px;
    height: 80px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    transform: translateX(-100%); /* Start off-screen */
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.treatment-tab:hover {
    background-color: var(--accent-colour-dark);
}

/* Show the tab when the sidebar is hidden */
.treatment-sidebar.hide + .treatment-tab {
    transform: translateX(0); /* Slide the tab into view */
}

.treatment-list {
    padding: 10px;
}

.treatment-item {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: var(--primary-colour);
    border-radius: 5px;
}

.treatment-item p {
    font-size: 18px;
}

.no-cows-message {
    font-size: 20px;
    font-style: italic;
    color: #696868;
    padding: 5px 10px;
}
